body {
    background-image: url('../assets/images/backgrounds/bedroom.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

#lucky {
    animation: 3s ease 0s infinite breathe;
}

#lucky:active {
    animation: 2s ease 0s infinite wiggle;

}

@keyframes breathe {
    0%, 50%, 100% { transform: scale(1, 1); }
    30%, 80% { transform: scale(0.98, 1.01); }
}

@keyframes wiggle {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}